body {
    background-color: #1e1e2f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #252542;
    padding: 20px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffcc00;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.button-search {
    padding: 8px 12px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button-search:hover {
    background-color: #e6b800;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

.table-container {
    background-color: #2b2b40;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #3b3b5f;
}

tr:hover {
    background-color: #383857;
}

.filter-form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.filter-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-form button {
    padding: 8px 12px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #e6b800;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #666;
}

.pagination span {
    font-weight: bold;
    padding: 8px 12px;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
}
